<!-- ==============================================
    SKILLS
    =============================================== -->
    
    <section id="skills" class="orange-bg">
      
      <div class="container">

        <header class="section-header text-center">
          <h1 class="scrollimation scale-in">{{ lang.skills.title }}</h1>
        </header>

        <div class="row skills">

          <dl class="skills-diagram scrollimation fade-in">
            {{#each skills}}
              {{#if this.rate}}
              <!-- FAIRE ANIMATION SCROLL IN ! -->
                <dt class="skill-{{this.rate}}{{#if this.multilines}} multilines{{/if}}" 
                  {{#if this.desc}} data-toggle="tooltip" title="{{this.desc}}"{{/if}}>
                  {{this.tech}}</dt>
                <dd>{{this.rate}}</dd>
              {{/if}}
            {{/each}}
          </dl>

        </div>

      </div>
      <div class="dark-bg-before bg-transition-bottom"></div>
    </section>