<!-- ==============================================
		PORTFOLIO
		=============================================== -->
		<section id="portfolio" class="gray-bg padding-top-bottom">

			<div class="container">

				<header class="section-header text-center">

					<h1 class="scrollimation scale-in">{{ lang.portfolio.title }}</h1>
					<p>{{ lang.portfolio.description }}</p>

				</header>

				<!--==== Portfolio Filters ====-->
				<div id="filter-works">
					<ul>
						<li class="active scrollimation fade-right d1">
							<a href="#" data-filter="*">{{ lang.portfolio.all }}</a>
						</li>
						{{#each lang.portfolio.filter}}
						<li class="scrollimation fade-right">
							<a href="#" data-filter=".{{ this.tag }}">{{ this.name }}</a>
						</li>
						{{/each}}
					</ul>
				</div><!--End portfolio filters -->

			</div><!--End portfolio header -->
